<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delivery | COMONENT</title>
    <!-- Awesome Fonts -->
    <link href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN' crossorigin='anonymous'>
    <style media="screen">
      .container {
        width:85vw;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <center>
      <h1>Delivery</h1>
    </center>
    
    
    
    
    
    
    
    
    
    
    

    
    
    <div class="container">
      <!-- TODO: Add styles to improve appearance. -->
      <deliver-component employees = 0></deliver-component>
    </div>
    <script src="script.js"></script>
  </body>
</html>
